/* 
    Created on : 2015-04-19, 23:04:24
    Author     : Krzysiek , Mateusz 
*/

.data0.chart-pie { -fx-pie-color: #006600; }
.data1.chart-pie { -fx-pie-color: #B00000; }
.chart-legend { -fx-background-color: #CCCC00; }
.chart-pie-label {
    -fx-fill: #660099;
   }
 